.App{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    position: 'relative';
}
.time-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    text-align: center;
    color: white;
}

.clock-time {
    font-size: 90px;
}

.divider{
    height: 80px;
    width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.8;
    background-color: white;
}

.count-title{
    font-size: 40px;
    color: white;
    text-align: center;
}

/* For tablets in portrait and landscape mode */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* Your styles for tablets here */
    .App{
        background-position-y: 0px;
        background-size: 220%;
        background-position-x: -500px;
    }
    .clock-time {
        font-size: 60px;
    }
}

/* For phones and tablets */
@media only screen and (max-width: 600px) {
    /* Your styles for phones and tablets here */
    .App{
        background-position-y: 0px;
        background-size: cover;
        background-position-x: -450px;
    }

    .count-title{
        font-size: 22px;
    }

    .clock-time {
        font-size: 42px;
    }
}